<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="index/bootstrap/css/bootstrap.min.css">
    <!-- orion icons-->
    <link rel="stylesheet" href="index/css/orionicons.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="index/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="index/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="index/img/favicon.png?3">
</head>
<body onload="">
<!-- navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg px-4 py-2 bg-white shadow"><a href="" class="navbar-brand font-weight-bold text-uppercase text-base">阶段性考试再考报名系统</a>
        <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
            </li>
            <li class="nav-item dropdown ml-auto"><a id="userInfo" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><img src="index/img/avatar-6.jpg" alt="Jason Doe" style="max-width: 2.5rem;" class="img-fluid rounded-circle shadow"></a>
                <div aria-labelledby="userInfo" class="dropdown-menu">
                    <!--<div class="dropdown-divider"></div>--><a href="/examation/login" class="dropdown-item">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
</header>
<br/><br/><br/>
<div class="d-flex align-items-stretch">
    <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
            <section>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card mb-5 mb-lg-0">
                            <div class="card-header">
                                <h2 class="h6 mb-0 text-uppercase">报名通知</h2>
                            </div>
                            <div class="card-body">
                                <p th:text="${msg}" class="text-gray mb-5">.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-5 mb-lg-0">
                        <div class="card-header">
                            <h2 class="h6 mb-0 text-uppercase">学生信息</h2>
                            <h2 class="h6 mb-0 text-uppercase" th:text="${user.getNumber()}"></h2>
                            <h2 class="h6 mb-0 text-uppercase" th:text="${user.getUname()}"></h2>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal">
                                <div class="form-group row">
                                    <label>可报名场次：</label><br/>
                                        <select id="rename" name="account" class="form-control">
                                            <option th:each="item:${reg}" th:text="${item.ename}"
                                                th:value="${item.ename}"></option>
                                        </select>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-9 ml-auto">
                                        <input type="button" id="registerExam" value="报名" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>

                            <form class="form-horizontal">
                                <div class="form-group row">
                                    <label>已报名场次：</label><br/>
                                    <select id="cename" name="account" class="form-control">
                                        <option th:each="item:${reged}" th:text="${item.ename}"
                                                th:value="${item.ename}"></option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-9 ml-auto">
                                        <input id="cancelExam" type="button" value="取消" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </section>
        </div>
        <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 text-center text-md-left text-primary">
                        <p class="mb-2 mb-md-0"></p>
                    </div>
                    <div class="col-md-6 text-center text-md-right text-gray-400">
                        <p class="mb-0"></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<!-- JavaScript files-->
<script src="index/jquery/jquery.min.js"></script>
<script src="index/popper.js/umd/popper.min.js"> </script>
<script src="index/bootstrap/js/bootstrap.min.js"></script>
<script src="index/jquery.cookie/jquery.cookie.js"> </script>
<!--<script src="index/chart.js/Chart.min.js"></script>-->
<script src="index/js/js.cookie.min.js"></script>
<!--<script src="./index/js/charts-home.js"></script>-->
<script src="index/js/front.js"></script>
<script src="index/jquery.cookie/jquery.cookie.js"></script>
<script type="text/javascript">
    function load() {
        var token = $.cookie("token");
        if(token == null)
            window.location.href="http://291.168.2.251/examation/login";
    }
</script>

<script type="text/javascript">
    $("#registerExam").click(function(){
        var ename = document.getElementById("rename").value;
        $.ajax({
            type: "POST",
            url: "/examation/registerExam",
            contentType: "application/json;charset=utf-8",
            data:JSON.stringify({"eid":"","ename":ename}),
            headers:{
                "token":$.cookie("user")
            },
            success:function (message) {
                alert(message);
                window.location.reload();
            },
            error:function (message) {
                alert("系统错误，请联系管理员处理");
            }
        });
    });
</script>

<script type="text/javascript">
    $("#cancelExam").click(function(){
        var ename = document.getElementById("cename").value;
        $.ajax({
            type: "POST",
            url: "/examation/cancelExam",
            contentType: "application/json;charset=utf-8",
            data:JSON.stringify({"eid":"","ename":ename}),
            headers:{
                "token":$.cookie("user")
            },
            success:function (message) {
                alert(message);
                window.location.reload();
            },
            error:function (message) {
                alert("系统错误，请联系管理员处理");
            }
        });
    });
</script>
</body>
</html>