<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzkk.mapper.ExamMapper">

    <select id="addExam" parameterType="com.zzkk.model.Examination" resultType="java.lang.Boolean">
        insert into examination (eid,ename,edate) values(#{eid},#{ename},#{dateTime})
    </select>

    <delete id="deleteExam" parameterType="java.lang.String">
        delete from examination WHERE ename=#{ename}
    </delete>

    <select id="allExam" resultType="com.zzkk.model.Examination">
        /*select examination.*,cout(r.eid) from examination left join (select eid,count(register.rid) from register)r on examination.eid=r.eid group by eid*/
        select * from examination e
        left join (select count(register.eid) as register,eid from register)r on e.eid=r.eid;
    </select>

    <select id="getRegExam" parameterType="java.lang.String" resultType="com.zzkk.model.Examination">
        SELECT * FROM examination where edate &lt;= #{dateTime}
    </select>

    <select id="getRegedExam" parameterType="java.lang.String" resultType="com.zzkk.model.Examination">
        SELECT * FROM examination where eid in
        (select eid from register where uid =
        (select uid from user where user.number=#{user}))
    </select>

    <select id="getExamByName" parameterType="java.lang.String" resultType="com.zzkk.model.Examination">
        select * from examination where ename=#{ename}
    </select>
</mapper>